* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(imgs/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    text-align: center;
    padding: 0.5em;
    color: #FFFFFF;
    background: transparent;
    text-shadow: 3px 2px 3px #000000;
    font-size: 2.0rem;
}

.title,
.sub-title {
    text-align: center;
    font-family: 'Luxurious Roman', cursive;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 3em 5em;
    gap: 2em;
    font-family: 'Luxurious Roman', cursive;
    margin-top: 2em;
    border: transparent;
    background-color: rgba(255, 255, 255, 0.684);
    border-radius: 20px;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2em;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.typeit {
    text-align: center;
}

.txt {
    background-color: rgba(255, 255, 255, 0.684);
    resize: none;
    border-radius: 8px;
    color: blue;
    border: black solid 1px;
}

.selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.passos {
    display: none;
    flex-direction: column;
    text-align: center;
}

.btnInput {
    font-family: 'Luxurious Roman', cursive;
    font-size: 1.25rem;
    padding: 0.3em;
    border-radius: 10px;
    border: #000000 solid 1px;
    cursor: pointer;
    transition: 0.1s;
    background-color: rgba(255, 255, 255, 0.684);
}

.btnInput:hover {
    transform: scale(1.1);

}

.output {
    text-align: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;
    background-color: rgba(255, 255, 255, 0.684);
    border-top: solid 0.5px black;
}

.link {
    width: 2em;
}

@media(max-width:1400px) {
    header {
        font-size: 1.5em;
    }

    .field {
        gap: 0;
        padding: 2em 0;
        margin-top: 4.5em;
    }

    section {
        padding: 0.5em;
        gap: 0.5em;
    }


    .txt {
        width: 80%;
    }

    .btnInput {
        font-size: 1.1rem;
    }

    footer {
        font-size: 0.9rem;
    }
}

@media(max-width:1000px) {
    section {
        flex-direction: column;
    }

    .field {
        gap: 0;
        padding: 2em 0;
        margin-top: 0.4em;
    }

    .txt {
        height: 100px;
    }
}

@media(max-width:800px) {
    header {
        font-size: 1rem;
    }

    h2 {
        font-size: 0.9rem;
    }

    form {
        font-size: 0.9rem;
    }

    .btnInput {
        font-size: 1rem;
    }
}

@media(max-width:500px) {
    .txt {
        height: 80px;
    }

    footer {
        position: fixed;
    }
}